<div>
    <h1>Tablas de multiplicar</h1>
    <form #sumarForm="ngForm">
        <label for="">Numero</label>
        <input type="number" name="cajanumero" #cajanumero>

        <br>

        <button (click)="multiplicar()">Mostar Tabla</button>

        <table>
            <thead>
                <tr>
                    <th>Operacion</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of index; let cont = index">
                    <td>{{num}}*{{cont + 1}}</td>
                    <td>{{i}}</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
